.box {
    background: #fff;
    margin: 30px 0;
    color: #666;
    display: flex;
    flex-direction: column;
    padding: 20px;

    p {
        font-size: 15px;
        line-height: 24px;
        color: #333;
    }
}
