.header-post {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #dfdcdc;
    padding-bottom: 20px;
    margin-bottom: 30px;
    img {
        height: 70px;
        border-radius: 100%;
        margin-right: 15px;
    }
    h2 {
        font-size: 18px;
    }
    span {
        font-size: 14px;
        color: #bbbaba;
    }
}
