* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #e8eaed;
    font-family: Helvetica, sans-serif;
    color: #fff;

    .container {
        width: 700px;
        margin: 40px auto;
    }
}
